# API Key: fish.audio/app/api-keys (NO es el ID del modelo)
FISH_AUDIO_API_KEY=

# ID del modelo de voz (Copiar Id de modelo en fish.audio)
FISH_AUDIO_VOICE_ID=9441e8efd51b4cffb9b35fcb32d91ae6
FISH_AUDIO_MODEL=s2-pro
